.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  color: rgb(76, 76, 146);
  padding: 15px;
  text-align: center;
}

.puppy-name {
  cursor: pointer;
  font-size: 22px;
  margin-bottom: 10px;
}

.featured-puppy {
  margin-top: 15px;
  border: 2px dashed #000;
  background-color: rgb(199, 156, 99);
}

.featured-puppy h2 {
  font-size: 30px;
  color: rgb(80, 30, 127);
}

.featured-puppy ul {
  list-style-type: none;
  padding: 0;
}
